.Weather {
  font-family: "Poppins", sans-serif;
  color: white;
  border: 1px solid #dadde1;
  padding: 16px;
  background: rgba(14, 139, 242, 0.504);
  background: linear-gradient(
    0deg,
    rgba(14, 139, 242, 0.5074404761904762) 18%,
    rgba(251, 188, 44, 0.6783088235294117) 100%
  );
  text-align: center;
  margin: 0 auto;
  border-radius: 10px;
}

/* @media screen and (max-width: 360) {
  .currentTemp,
  .icon {
    font-size: 38px !important;
    line-height: 80%;
    margin-top: 10px;
  }
} */

@media screen and (max-width: 350px) {
  .description,
  .infoWeather,
  .high-low {
    font-size: 18px;
  }
  .feelsLike {
    font-size: 12px !important;
  }

  .degrees {
    font-size: 9px;
    margin-top: 10px;
  }
  .icon {
    width: 100%;
    max-width: 100px;
  }
}

@media screen and (max-width: 325px) {
  .degrees {
    display: none;
  }
}

.Weather form {
  margin-bottom: 30px;
  display: inline-block;
}
.Weather .form-control {
  margin-right: 12px;
}
.Weather .btn {
  background-color: rgba(132, 212, 236, 0.582);
  border-radius: 5px;
  border-color: #d5cd9e;
  color: white;
}

.Weather .cityName {
  text-transform: uppercase;
  color: #ffffff;
  font-size: 34px;
  font-weight: 100;
  line-height: 29px;
}

.Weather .description {
  text-transform: capitalize;
}
.Weather .icon {
  margin-top: 20px;
  font-size: 100px;
}

.Weather .currentTemp {
  font-size: 72px;
}

.Weather .celsius {
  position: relative;
  font-size: 14px;
  top: -40px;
  margin-left: 2px;
}

.Weather .gpsIconButton,
.gpsIcon {
  font-size: 19px;
  border-radius: 10px;
  margin-left: 3px;
  background-color: rgba(177, 225, 240, 0.582);
  border-color: rgba(132, 212, 236, 0);
  color: white;
}
